/* booom */

body{
    background-image: url("../images/bg.jpg") !important;
    background-repeat: no-repeat;
    /* background-size:auto; */
    background-position: center center;
}


.log-in {
    margin: 3rem auto !important;
    background: rgba(229, 241, 242, 0.747) !important;
    width: 400px;
    border-radius: 10px !important;
    border: rgba(128, 128, 128, 0.082) solid 3px !important;
    box-shadow: rgba(0, 0, 0, 0.8) 0 10px 25px -5px;
}

h3 {
    margin: 2.2rem 0 !important;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

.login-form {
    margin-top: 1rem;
}

.card-body {
    position: relative;
    height: 460px;
}

/* .log-in-img {
    border-radius: 10px !important;
    margin: 0 auto;
    position: relative;
    left: 0;
    height: 180px;
    width: 390 !important;
    object-position: center left;
} */

.log-in-btn {
    width: 90%;
    position: absolute;
    right: 50%;
    top: 280px;
    transform: translateX(50%);
    background: rgb(21, 113, 234) !important;
    border: none !important;
    border-radius: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 10px 25px -10px;
}

.form-label {
    color: rgb(13, 11, 11, 0.7);
}

.forgot-pw {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.9rem;
    text-decoration: none;
}

.forgot-pw a:hover {
    color: #2958a0;
}

.forgot-pw:focus{
    color: #677181;
}

.sign-up a:focus{
    color: #677181;
}

.sign-up a:hover {
    color: #2958a0;
}

.new-acct {
    position: absolute;
    margin-top: 11rem;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.9rem;

}

.sign-up{
    position: absolute;
    margin-top: 12.5rem;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.9rem; 
}

.sign-up a{
    text-decoration: none;
}



/* MEDIA QUERY */
@media  (min-width: 520px) and (max-width: 650px){
   
    .card-body {    
        height: 65vh;
    }

    .log-in {
        margin: 2rem auto;
        width: 400px;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }

    .log-in-btn {
        width: 90%;
        top: 270px;
    }
    .new-acct {
        margin-top: 12rem;
        
    }
    
    .sign-up{
        margin-top: 13.5rem;
    }

  }

  @media (min-width: 650px) and (max-width: 768px){

    .log-in {
        margin: 2rem auto;
        width: 400px;
        background: rgba(255, 255, 255, 0.82) !important;
    }

    .card-body {    
        height: 65vh;
    }
    
    .login-form {
        margin: 0 auto;
    }

    .new-acct {
        margin-top: 12.5rem;
        
    }
    
    .sign-up{
        margin-top: 14rem;
    }
  }

@media (min-width: 768px) and (max-width: 970px){


    h3 {
        font-size: 1.3rem !important;
    }

    .log-in {
        margin: 5rem auto;
        width: 400px;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .log-in-btn {
        width: 90%;
        top: 260px;
    }

    .card-body {
        height: 64vh;
    }

    .new-acct {
        margin-top: 12.5rem;
        
    }
    
    .sign-up{
        margin-top: 14rem;
    }
  }

  @media (min-width: 970px) and (max-width: 1200px){

    h3 {
        font-size: 1.3rem !important;
    }

    .log-in {
        margin: 5rem auto;
        width: 35%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }

    .log-in-btn {
        top: 255px;
    }

    
    /* .card-body {
        height: 64vh;
    } */

    .new-acct {
        margin-top: 13rem;
        
    }
    
    .sign-up{
        margin-top: 14.5rem;
    }


  }

  @media (min-width: 1200px) and (max-width: 1368px){

    h3 {
        font-size: 1.3rem !important;
    }
   
    .log-in {
        margin: 5rem auto;
        width: 390px;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }

    .log-in-btn {
        top: 265px;
    }
    
    .card-body {
        height: 63vh;
    }

    .new-acct {
        margin-top: 12.1rem;
        
    }
    
    .sign-up{
        margin-top: 13.5rem;
    }

  }


  @media (min-width: 1368px) and (max-width: 3000px){

    h3 {
        font-size: 1.3rem !important;
    }
   
    .log-in {
        margin: 5rem auto;
        width: 390px;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }

    .log-in-btn {
        top: 266px;
    }
    
    .card-body {
        height: 63vh;
    }

    .new-acct {
        margin-top: 12.1rem;
        
    }
    
    .sign-up{
        margin-top: 13.5rem;
    }

  }


/* @media   and (min-width: 1209px) {
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        
    }

    .log-in {
        margin: 5rem auto;
        width: 60%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .log-in-btn {
        width: 80%;
    }
  } */
