* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 50%;
    height: 600px;
    position: relative;
    margin: 100px auto;
    overflow:hidden;
    border-bottom: 2px solid rgb(234, 233, 233);
    /* box-shadow:rgb(130, 125, 125) 1px 12px 20px 0px; */
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgb(234, 233, 233);
}

.tabs button {
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 0;
    margin-right: 50px;
    font-size: 1.1rem;
    font-weight: 500;
}

#logoutBtn {
    font-size: 0.9rem;
    color:rgb(130, 125, 125);
    position: absolute;
    top: 520px;
    margin: 0 auto;
}

#logoutBtn:hover {
    color: red;

}

button:hover {
    color: rgb(15, 124, 197);
}

button:focus {
    color: rgb(15, 124, 197);
}

/* .content ul {
    margin-top: 2rem;
} */
label {
    font-weight: bold;
    color: grey;
}
.content li {
    list-style-type: none;
    margin-bottom: 5px;
    color: grey;
}
.content h2 {
    color: rgb(15, 124, 197);
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.content {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    position: absolute;
    left: 80rem;
    overflow:hidden;
    flex-basis: auto;
}


#content1 {
    transform: translateX(0);
    left: 0;
}






/* MEDIA QUERY */

@media only screen and (min-width: 950px) and (max-width: 1200px) {
   

    .main {
        width: 75%;
        
    }

   

    .tabs button {
        margin-right: 120px;
        font-size: 1.1rem;
        white-space: nowrap;
    }

  }

  @media only screen and (min-width: 1001px) and (max-width: 1690px) {
    .tabs #logoutBtn {
        white-space: nowrap;
    }

    #logoutBtn {
        font-size: 0.9rem;
        color:rgb(130, 125, 125);
        position: static;
        margin-left: 100px;
        /* top: 520px; */
        /* margin: 0 auto; */
    }

    .tabs {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        white-space: nowrap;
        width: 1200px;
        overflow: hidden;
    }
    .main {
        width: 80%;
    }
    .tabs #btn1 {
        white-space: nowrap;
    }

    .tabs button {
        margin-right: 90px;
        font-size: 1.1rem;
    }
  }

  @media only screen and (min-width: 1001px) and (max-width: 1080px) {
    #logoutBtn {
        font-size: 0.9rem;
        color:rgb(130, 125, 125);
        position: static;
        margin-left: 50px;
        /* top: 520px; */
        /* margin: 0 auto; */
    }
  }

  @media only screen and (min-width: 1085px) and (max-width: 1142px) {
    #logoutBtn {
        font-size: 0.9rem;
        color:rgb(130, 125, 125);
        position: static;
        margin-left: 100px;
        /* top: 520px; */
        /* margin: 0 auto; */
    }
  }

  @media only screen and (min-width: 1143px) and (max-width: 1242px) {
    #logoutBtn {
        font-size: 0.9rem;
        color:rgb(130, 125, 125);
        position: static;
        margin-left: 160px;
        /* top: 520px; */
        /* margin: 0 auto; */
    }
  }

  @media only screen and (min-width: 1243px) and (max-width: 2042px) {
    #logoutBtn {
        font-size: 0.9rem;
        color:rgb(130, 125, 125);
        position: static;
        margin-left: 260px;
        /* top: 520px; */
        /* margin: 0 auto; */
    }
  }

  @media only screen and (min-width: 1400px) and (max-width: 3000px) {
   

    .main {
        width: 1200px;
        overflow: hidden;
    }
   
    .tabs {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .tabs button {
        margin-right: 120px;
        font-size: 1.1rem;
    }

    .tabs #btn1 {
        white-space: nowrap;
    }
 }



  
